.about .info .title h2{
    font-weight: 700;
    color:  #000f38;
}
.about .info .title p{
    font-weight: 600;
    color: rgb(17, 17, 91);
}
.about .info p{
    color: rgba(0, 0, 0, 0.524);
    font-size: 15px;
}
.about .img img{
    height: 300px;
    border-radius: 20px;
}
.about .play{
    top: 40%;
    left: 40%;
    padding: 15px 20px;
    border-radius: 50%;
    background-color: #f0f8ff;
    cursor: pointer;
}
.about .play i{
    font-size: 25px;
    
}

@media  (max-width  : 767px) {
   .about .img {
       width: 100%;
   }
}